In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
data=pd.read_csv(r"C:\Users\Srinivasan\Desktop\SRP - SRINEDHI\data\newdata.csv")

In [3]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report
from sklearn import metrics

In [4]:
data['murder and attempt']=data.iloc[:, -30:-27].sum(axis=1)
data['Rape']=data.iloc[:, -28:-25].sum(axis=1)
data.drop(data.columns[[3,4,5,6,7,8]], axis = 1, inplace = True)
data['Kidnapping and Abduction']=data.iloc[:, -26:-23].sum(axis=1)
data.drop(data.columns[[3,4,5]], axis = 1, inplace = True)
data.drop(data.columns[[4,10,11,12,13,14]], axis = 1, inplace = True)
data['Dacoity and various theft']=data.iloc[:, -18:-12].sum(axis=1)
data.drop(data.columns[[3,4,5,6,7,8]], axis = 1, inplace = True)
data.drop(data.columns[[3,7,8,10,11]], axis = 1, inplace = True)
data['violence against women']=data.iloc[:, -8:-5].sum(axis=1)
data.drop(data.columns[[3,4,5]], axis = 1, inplace = True)
data.drop(data.columns[[3]], axis=1, inplace = True)
data.rename(columns = {'STATE/UT':'STATE'}, inplace = True)
data.head()

,STATE,DISTRICT,YEAR,murder and attempt,Rape,Kidnapping and Abduction,Dacoity and various theft,violence against women
0,ANDHRA PRADESH,ADILABAD,2012,175,176,164,1002,252
1,ANDHRA PRADESH,ANANTAPUR,2012,299,36,148,1393,222
2,ANDHRA PRADESH,CHITTOOR,2012,171,56,112,1151,392
3,ANDHRA PRADESH,CUDDAPAH,2012,216,52,152,1175,267
4,ANDHRA PRADESH,CYBERABAD,2012,321,150,316,10123,510

In [5]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

data['STATE']= label_encoder.fit_transform(data['STATE'])
data['DISTRICT']= label_encoder.fit_transform(data['DISTRICT']) 
print(data.head())

   STATE  DISTRICT  YEAR  murder and attempt  Rape  Kidnapping and Abduction  \
0      2         2  2012                 175   176                       164
1      2        28  2012                 299    36                       148
2      2       147  2012                 171    56                       112
3      2       164  2012                 216    52                       152
4      2       166  2012                 321   150                       316

   Dacoity and various theft  violence against women
0                       1002                     252
1                       1393                     222
2                       1151                     392
3                       1175                     267
4                      10123                     510

In [6]:
X = data.iloc[:,[0,1,2]].values
Y = data.iloc[:,[3,4,5,6,7]].values

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=50)

In [8]:
rfc = RandomForestClassifier(n_estimators=100, class_weight="balanced")
multi_target_forest = MultiOutputClassifier(rfc, n_jobs=-1)

In [9]:
multi_target_forest.fit(X_train, Y_train)

MultiOutputClassifier(estimator=RandomForestClassifier(class_weight='balanced'),
                      n_jobs=-1)

In [10]:
y = multi_target_forest.predict(X_test)
acc_list = []
for i in range(Y_test.shape[0]):
        set_true = set( np.where(Y_train[i])[0] )
        set_pred = set( np.where(y[i])[0] )
        tmp_a = None
        if len(set_true) == 0 and len(set_pred) == 0:
            tmp_a = 1
        else:
            tmp_a = len(set_true.intersection(set_pred))/\
                    float( len(set_true.union(set_pred)) )
        acc_list.append(tmp_a)

In [11]:
print('Random forests score:', np.mean(acc_list)*100)

Random forests score: 92.59938837920488